[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    env,
    venv,

extend-ignore =
    E203,
    F401,
    W293,
    E302,
    E251,
    E275,
    W292,
    E251,
    E501

# noqa: F401
# noqa: W293
# noqa: E302
# noqa: E251
# noqa: E275
# noqa: W292
# noqa: E251
# noqa: E501